<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <button class="enableEthereumButton">Enable Ethereum</button>
    <h2>Account: <span class="showAccount"></span></h2>
    <h2>Balance: <span class="balanceAcc"></span></h2>
</body>

<script>
    // event 
    const ethereumButton = document.querySelector(".enableEthereumButton");
    const showAccount = document.querySelector(".showAccount");
    const balanceAcc= document.querySelector(".balanceAcc");
    let accounts;
    let account;
    let tokenInst;
    const tokenabi = web3.eth.contract([{"constant": "true","inputs": [{"name":"","type":"address"}],"name":"balanceOf","outputs":[{"name": "","type": "uint256"}],"payable":"false","stateMutability":"view","type":"function"}]);

    // metamask function

    function isInstalled() {
        if (typeof web3 !== 'undefined') {
            console.log('MetaMask is installed')
            ethereumButton.addEventListener("click", () => {
                getAccount();
                tokenInst = tokenabi.at(account);
                checkBalance();
            });
        } else {
            console.log('MetaMask is not installed')
        }
    }

    async function getAccount() {
        accounts = await ethereum.enable();
        account = accounts[0];
        showAccount.innerHTML = account;
    }

    function isLocked() {
        web3.eth.getAccounts(function(err, accounts) {
            if (err != null) {
                console.log(err)
            } else if (accounts.length === 0) {
                console.log('MetaMask is locked')
            } else {
                console.log('MetaMask is unlocked')
            }
        });
    }

    function checkBalance() {
        tokenInst.balanceOf(
            web3.eth.accounts[0],
            function(error, result) {
                if (!error && result) {
                    var balance = result.c[0];
                    balanceAcc.innerHTML = balance;
                    if (balance < 1 * (100000000)) {
                        console.log('MetaMask shows insufficient balance')
                        return false;
                    }
                    console.log('MetaMask shows sufficient balance')
                        // Include here your transaction function here
                } else {
                    console.error(error);
                }
                return false;
            }
        );
    }

    isInstalled();
    isLocked();
    checkBalance();
</script>

</html>