<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <h2>Account: <span class="showAccount"></span></h2>
    <h2>Balance: <span class="balanceAcc"></span></h2>
</body>
<script src="abi.txt"></script>
<script>
    // event 
    const showAccount = document.querySelector(".showAccount");
    const balanceAcc= document.querySelector(".balanceAcc");
    let accounts;
    let account = "0xb00304beb5aaabb964ee8417b3cde714326efda2";
    let tokenInst;
    let contract;

    // metamask function
    
    async function getAccount() {
        accounts = await ethereum.enable();
        showAccount.innerHTML = account;

    }
    
    function isLocked() {
        web3.eth.getAccounts(function(err, accounts) {
            if (err != null) {
                console.log(err)
            } else if (accounts.length === 0) {
                console.log('MetaMask is locked')
            } else {
                console.log('MetaMask is unlocked')
            }
        });
    }
    
    function checkBalance() {
        console.log(tokenInst);
        web3.eth.getBalance(account, 'latest', function(error, result) {
                if (!error && result) {
                    console.log(result);
                    var balance = result.c[0];
                    balanceAcc.innerHTML = balance;
                    if (balance < 1 * (100000000)) {
                        console.log('MetaMask shows insufficient balance')
                        return false;
                    }
                    console.log('MetaMask shows sufficient balance')
                        // Include here your transaction function here
                } else {
                    console.error(error);
                }
                return false;
            });
            /*
        tokenInst.balanceOf(
            account.toString(),
            function(error, result) {
                if (!error && result) {
                    console.log(result);
                    var balance = result.c[0];
                    balanceAcc.innerHTML = balance;
                    if (balance < 1 * (100000000)) {
                        console.log('MetaMask shows insufficient balance')
                        return false;
                    }
                    console.log('MetaMask shows sufficient balance')
                        // Include here your transaction function here
                } else {
                    console.error(error);
                }
                return false;
            }
        );*/
    }

    function getContractAndToken() {
        contract = web3.eth.contract(tokenabi, account);
        tokenInst = contract.at(account);
    }

    isLocked();
    getAccount();
    getContractAndToken();
    checkBalance();
</script>

</html>