<html>
<head>
    <title>Gross Bet</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        var username,pass;
        $("#submit").click(function(){
            username=$("#username").val();
            pass=$("#password").val();
            /*
            * Perform some validation here.
            */
            $.post("/login",{username:username,pass:pass},function(data){
                if(data==='done') {
                    window.location.href="/play";
                }
            });
        });
    });
    </script>
    </head>
    <body>
        <div class="login">
            <input type="text" size="40" placeholder="Entrez votre pseudo" id="username"><br />
            <input type="password" size="40" placeholder="Mot de passe" id="password"><br />
            <input type="button" value="EEEeeet Z'est partiiiiii!" id="submit">
        </div>
    </body>
</html>