<html>
<head>
    <title>Gross Bet</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        var username;
        $("#submit").click(function(){
            username=$("#username").val();
            /*
            * Perform some validation here.
            */
            $.post("/login",{username:username},function(data){
                console.log(data);
                if(data==='done') {
                    window.location.href="/play";
                }
            });
        });
    });
    </script>
    </head>
    <body>
        <div class="login">
            <input type="text" size="40" placeholder="Entrez votre pseudo" id="username"><br />
            <button type="submit" id="submit">EEEeeet Z'est partiiiiii!</button>
        </div>
    </body>
</html>