<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GrossBet</title>

    <!-- style -->
    <link rel="stylesheet" href="streaming.css" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
    <!-- style -->

</head>

<body>
    <div id="content">
        <div id="pages-left">
            <li class="chat page">
                <div class="chatArea">
                    <ul class="messages"></ul>
                </div>
                <input class="inputMessage" placeholder="Type here..." />
            </li>
            <li class="login page">
                <div class="form">
                    <h3 class="title">What's your nickname?</h3>
                    <input class="usernameInput" type="text" maxlength="14" />
                </div>
            </li>
        </div>
        <div id="page-right">
            <div id="game">
                <canvas id="canvas"></canvas>
                <div id="health-bars">
                    <div class="health-label">
                        <strong>Player 1</strong><br><span id="p1-kills">0</span> KO(s)
                    </div>
                    <div class="health">
                        <span class="fill" id="p1-health"></span>
                    </div>
                    <div class="health">
                        <span class="fill" id="p2-health"></span>
                    </div>
                    <div class="health-label">
                        <strong>Player 2</strong><br><span id="p2-kills">0</span> KO(s)
                    </div>
                </div>
            </div>
            <div id="controls">
                <div id="p1-ctrls">
                    <div class="move" id="p1-left"></div>
                    <div class="move" id="p1-right"></div>
                    <div class="a-btn" id="p1-up"></div>
                    <div class="b-btn" id="p1-atk"></div>
                </div>
                <div id="p2-ctrls">
                    <div class="move" id="p2-left"></div>
                    <div class="move" id="p2-right"></div>
                    <div class="a-btn" id="p2-up"></div>
                    <div class="b-btn" id="p2-atk"></div>
                </div>
            </div>
            <div id="keys">
                <div id="p1-keys">
                </div>
                <div id="p2-keys">
                </div>

            </div>
            <div id="bettercallgrigusky">

                <button id="button-white">white</button>
                <input type="number" id="input-bet" min="1" max="walletGrossCoin">
                <button id="button-black">black</button id="button-white">

                
            </div>
        </div>
</body>

<!-- script -->
<script src="/socket.io/socket.io.js"></script>
<script src="streamgame.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="streaming.js"></script>
<script src="index.js"></script>
<!-- script -->



</html>